{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <br/><h1>Books Catalog</h1><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table id="booktable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Rating</th>
                        <th>Author</th>
                        <th>Cover</th>
                        <th>Number of Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in bookcat %}
                    <tr>
                        <td>{{ book.Title }}</td>
                        <td>{{ book.Rating }}</td>
                        <td>{{ book.Author }}</td>
                        <td><img src="{{ book.ImageURL }}" alt="Book Cover" style="width: 50px; height: 75px;"></td>
                        <td>{{ book.NumReviews }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
